/*全体*/
body {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  font-family: 'Noto Sans JP',sans-serif;
  background-color: #f6f5f4;
}
main {
  display: flex;
}
header {
 width: 100%;
 background: #184da3;
 color: #fff;
 text-align: center;
 padding: 5px 0;
 position: fixed;
 top: 0; /*上に固定*/
}
footer {
 width: 100%;
 background: #184da3;
 color: #fff;
 text-align: center;
 padding: 5px 0;
 position: fixed;
 bottom: 0; /*下に固定*/
}
#canvas {
  position:fixed;
  width: 100%;
  height: 100%;
}
#body {
  position: relative;
}

/*スライダーメニュー*/
.side {
  width: 10%;
  height: 100vh;
  position: fixed;
  text-align: center;
  background: #184da3;
}
.side p {
  margin-bottom: 2vh;
}
.link a {
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 2.5vh;
  transition: .2s;
}
.link a:hover {
  background-color: rgba(0,0,0,0.3);
  text-decoration: none;
}
.side img {
	width: 100%;
}
.sns_icon {
  margin-top: 35vh;
  display: flex;
  justify-content: center;
}
.sns_icon img {
    width: 5vh;
    height: auto;
    margin-right: 1vh;
}
.clock {
  color: #fff;
}

/*メインコンテンツ*/
/*サイドバーとメインコンテンツを横並びにする*/
.content {
  /* background: red; */
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 7vh;
  margin-left: 25vh;/*サイドバーとメインコンテンツの間に隙間*/
  text-align: center;
}

/*TOP要素*/
.top h1 {
  /* background: #fff; */
  font-size: 5vh;
}
.top h1 {
  font-size: 3vh;
  margin-top: 1vh;
}
.top table {
  margin: auto;
  margin-top: 10vh;
}
.top img {
  width: auto;
  margin-top: 5vh;
  height: 35vh;
}

/*複数のテーブルを見やすいように*/
.multiple_table {
  /* background: #f0f; */
  margin: auto;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
/*汎用型*/
.table {
  padding: 5px;
  border-collapse: separate;
  border-spacing: 0px 0.5rem;
  background-color: rgba(0,0,0,0.3);
}
.button {
  color: #ffffff;
  background: #1d59be;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2px #1d59be;
  transition: .4s;
}
.button:hover {
  background: #ffffff;
  color: #1d59be;
}

/*フォームのcss*/
.contact_form {
	border-collapse: collapse;
	margin: 0 auto;
}
/*tr*/
.contact_form tr {
	border-top: solid 1px #dddddd;
}
.contact_form tr:last-child {
	border-bottom: solid 1px #dddddd;
}
/*th*/
.contact_form th {
	position: relative;
	width: 280px;
	padding: 20px;
	background: #f9f9f9;
	text-align: left;
	vertical-align: top;
	box-sizing: border-box;
}
.contact_form th.required:before {
	content: "必須";
	width: 48px;
	height: 28px;
	position: absolute;
	top: 21px;
	right: 20px;
	background: #d70d19;
	color: #ffffff;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
}
/*td*/
.contact_form td {
	padding: 14px 20px;
  background: #f0f0f0;
	box-sizing: border-box;
}
.contact_form input[type="text"],
.contact_form textarea {
	max-width: 300px;
	background: #f9f9f9;
	border: solid 1px #dddddd;
	font-size: 16px;
	padding: 12px 20px;
	transition: 0.3s ease-in-out;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;
}
.contact_form input[type="text"]:focus,
.contact_form textarea:focus {
	border-color: #d70d19;
}
.contact_form input[type="password"],
.contact_form textarea {
	max-width: 300px;
	background: #f9f9f9;
	border: solid 1px #dddddd;
	font-size: 16px;
	padding: 12px 20px;
	transition: 0.3s ease-in-out;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;
}
.contact_form input[type="password"]:focus,
.contact_form textarea:focus {
	border-color: #d70d19;
}
.contact_form input[type="datetime-local"],
.contact_form textarea {
	max-width: 300px;
  width:100%;
	background: #f9f9f9;
	border: solid 1px #dddddd;
	font-size: 16px;
	padding: 12px 20px;
	transition: 0.3s ease-in-out;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;
}
.contact_form input[type="datetime-local"]:focus,
.contact_form textarea:focus {
	border-color: #d70d19;
}
/*ボタン*/
.confirm_btn {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 30px auto 0;
	padding: 0;
	outline: none;
	background: #1d59be;
	border-radius: 40px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
  border: solid 2px #1d59be;
  transition: .4s;
}
.confirm_btn:hover {
  background: #ffffff;
  color: #1d59be;
}
