/*全体*/
body {
   font-family:'Noto Sans JP',sans-serif;
   background-color:#f6f5f4;
}

/*スライダーメニュー*/
.side {
  background-color:#184da3;
  width:15%;
  height:100vh;
  text-align:center;
}
.side img {
	width: 100%;
}
/*メインコンテンツ*/
.content {
  background: red;
  width: 100%;
  margin-left:100px;/*サイドバーとメインコンテンツの間に隙間*/
  text-align: center;
}
/*サイドバーとメインコンテンツを横並びにする*/
article {
  display:flex;
}
.top{
  background: #fff;
  margin:auto;
  margin-top:10vh;
  font-size: 5vh;
}

/*複数のテーブルを見やすいように*/
.multiple_table{
  background: #f0f;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
/*汎用型*/
.table{
  /* width:50vh; */
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-collapse: separate;
  border-spacing: 0px 0.5rem;
}
th.table,td.table {
  border: solid 2px #000000;
}
td.noborder{
  border: none;
}
.button {
  color: #ffffff;
  background: #1d59be;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2px #1d59be;
  transition: .4s;
}
.button:hover {
  background: #ffffff;
  color: #1d59be;
}

/*フォームのcss*/
.contact_form {
	border-collapse: collapse;
	margin: 0 auto;
}
/*tr*/
.contact_form tr {
	border-top: solid 1px #dddddd;
}
.contact_form tr:last-child {
	border-bottom: solid 1px #dddddd;
}
/*th*/
.contact_form th {
	position: relative;
	width: 280px;
	padding: 20px;
	background: #f9f9f9;
	text-align: left;
	vertical-align: top;
	box-sizing: border-box;
}
.contact_form th.required:before {
	content: "必須";
	width: 48px;
	height: 28px;
	position: absolute;
	top: 21px;
	right: 20px;
	background: #d70d19;
	color: #ffffff;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
}
/*td*/
.contact_form td {
	padding: 14px 20px;
	box-sizing: border-box;
}
.contact_form input[type="text"],
.contact_form textarea {
	max-width: 300px;
	background: #f9f9f9;
	border: solid 1px #dddddd;
	font-size: 16px;
	padding: 12px 20px;
	transition: 0.3s ease-in-out;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;
}
.contact_form input[type="text"]:focus,
.contact_form textarea:focus {
	border-color: #d70d19;
}
.contact_form input[type="datetime-local"],
.contact_form textarea {
	max-width: 300px;
  width:100%;
	background: #f9f9f9;
	border: solid 1px #dddddd;
	font-size: 16px;
	padding: 12px 20px;
	transition: 0.3s ease-in-out;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;
}
.contact_form input[type="datetime-local"]:focus,
.contact_form textarea:focus {
	border-color: #d70d19;
}
/*ボタン*/
.confirm_btn {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 30px auto 0;
	padding: 0;
	outline: none;
	background: #1d59be;
	border-radius: 40px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
  border: solid 2px #1d59be;
  transition: .4s;
}
.confirm_btn:hover {
  background: #ffffff;
  color: #1d59be;
}
