<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet"  href="{{ url_for('static',filename='css/reset.css') }}">
<link rel="stylesheet"  href="{{ url_for('static',filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/style.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/javascript.js') }}"></script>
{% block head %}{% endblock %}
</head>
<body>
<canvas id="canvas"></canvas>
<section id="body">
  <main>
    <div class="side">
      <p><a href="/"><img src="{{ url_for('static',filename='img/logo-2-kiri.png') }}"></a></p>
      <div class="link">
        <p><a href="/">TOP</a></p>
        <p><a href="/mypage">マイページ</a></p>
        <p><a href="/create">タスク作成</a></p>
        <p><a href="/logout">ログアウト</a></p>
      </div>
      <div class="sns_icon">
        <p><a href="https://line.me/R/ti/p/%40219zphan"><img src="{{ url_for('static',filename='img/LINE_Brand_icon.png') }}"></a></p>
        <p><a href="https://twitter.com/java51683733"><img src="{{ url_for('static',filename='img/2021 Twitter logo - white.png') }}"></a></p>
        <p><a href="https://github.com/ShoKatsuki06"><img src="{{ url_for('static',filename='img/GitHub-Mark-Light-120px-plus.png') }}"></a></p>
      </div>
      <div class="clock">
        <p id="time"></p>
      </div>
    </div>
    <div class="content">
      {% block body %}{% endblock %}
    </div>
  </main>
<footer>
  <p>TodoLineはLINEBOTを使用しています、事前に登録してから開始してください。</p>
</footer>
</section>
</html>
