<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static',filename='css/reset.css') }}">
    <script src="js/javascript.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
  <article>
    <div class="side">
      <p><a href="index.html"><img src="{{ url_for('static',filename='img/logo.png') }}"></a></p>
      <!-- {% for post in posts %} -->
      <!-- <p><a href="/detail/{{post[0]}}" role="button">Detail</a></p> -->
      <!-- <p><a href="/update/{{post[0]}}" role="button">Update</a></p> -->
      <!-- <p><a href="/delete/{{post[0]}}" role="button">Delete</a></p> -->
      <!-- {% endfor %} -->
    </div>
    <div class="content">
      {% block body %}{% endblock %}
    </div>
  </article>
</body>
</html>
