{% extends 'base.html' %}
<!DOCTYPE html>

{% block body %}
<h1>TODO登録画面</h1>
<div class="form">
  <form action="/" method="POST">
    <table  class="contact_form">
      <tr>
        <th class="required"><label for="title">タイトル</label></th>
        <td><input type="text" name="title" placeholder="タイトル" required></td>
      </tr>
      <tr>
        <th class="required"><label for="detail">詳細</label></th>
        <td><textarea type="text" name="detail" placeholder="詳細内容" cols=22 rows=5 required></textarea></td>
      </tr>
      <tr>
        <th class="required"><label for="due">日時</label></th>
        <td><input type="datetime-local" name="due" required></td>
      </tr>
    </table>
    <button type="submit" name="Create" value="Create" class="confirm_btn">登録</button>
  </form>
</div>
{% endblock %}
