{% extends "base.html" %}

{% block body %}
<div class="header">
  <p>{{ n }}です</p>
</div>
<div class="top">
  <h1>トップページ</h1>
  <p><button type="button" onclick="location.href='/create'" class="form_btn">新規タスクを作成</button></p>
  <p><a href="{{ url_for('static',filename='img/f_gragh.png') }}" data-lightbox="team" data-title="画像拡大"><img src="{{ url_for('static',filename='img/f_gragh.png') }}"></a></p>
  <p><a href="{{ url_for('static',filename='img/f_gragh{}.png'.format(name)) }}" data-lightbox="team" data-title="画像拡大"><img src="{{ url_for('static',filename='img/f_gragh{}.png'.format(name)) }}"></a></p>
  <p>本日のチームの総TODO達成数は{{num}}です</p>
<div class="multiple_table">
{% for post in posts %}
<table class="table">
  <tr>
    <th><p>タイトル : {{ post[1] }}</p></th>
  </tr>
  <tr>
    <td><p>期限 ： {{ post[3] }}</p></td>
  </tr>
  <tr>
    <td><p>ユーザー名 ： {{ post[4] }}</p></td>
  </tr>
  <tr>
    <td>
      <button type="button" onclick="location.href='/detail/{{post[0]}}'" class="table_btn">詳細</button>
      <button type="button" onclick="location.href='/finish/{{post[0]}}'" class="table_btn">完了</button>
      <button type="button" onclick="location.href='/delete/{{post[0]}}'" class="table_btn">削除</button>
      <button type="button" onclick="location.href='/update/{{post[0]}}'" class="table_btn">変更</button>
    </td>
  </tr>
</table>
{% endfor %}
</div>
</div>

{% endblock %}
