{% extends "base.html" %}

{% block body %}
<div class="top">
<h1>ユーザー情報登録画面</h1>
<div class="form">
  <form action="/input" method="POST" id="form">
    <table  class="contact_form">
      <tr>
        <th class="required"><label for="name">ユーザー名</label></th>
        <td><input type="text" name="name" placeholder="ユーザー名" required></td>
      </tr>
      <tr>
        <th class="required"><label for="pass">パスワード</label></th>
        <td><input type="password" name="pass" placeholder="パスワード" required id="pass"></td>
        <td><button id="display">表示</button></td>
      </tr>
    </table>
    <button type="submit" name="Input" value="Input" class="confirm_btn">登録</button>
  </form>
</div>
</div>

{% endblock %}
