{% extends 'base.html' %}

{% block body %}
<h1>編集</h1>
<div class="form">
  <form action="/update/{{ post[0]}}" method='POST'>
    <table class="contact_form">
      <tr>
        <th><label for="title">タイトル</label></th>
        <td><input type="text" name="title" value={{ post[1] }}></td>
      </tr>
      <tr>
        <th><label for="detail">詳細</label></th>
        <td><textarea type="text" name="detail" placeholder="詳細内容" cols=22 rows=5 required>{{ post[2] }}</textarea></td>
      </tr>
      <tr>
        <th><label for="due">日時</label></th>
        <td><input type="date" name="due" value={{ post[3] }}></td>
      </tr>
    </table>
    <button type="submit" name="Change" value="Change" class="confirm_btn">更新</button>
  </form>
</div>
{% endblock %}
